body { 
    padding-top: 130px; 
}

.footer {
    border-top: solid 2px #060000;
    padding: 10px 0;
    text-align: center;
    margin-top: 1.4rem;
}

.articleTitle:hover, .articleTitle:focus {
    text-decoration: none;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}

/* deleted code
#logo{
	width:230px;
	height: 0;
	display: block;
	overflow: hidden;
	padding-top: 76px;
	font-size: 0;
	background: url("../images/logo.png") no-repeat center center;
}*/